@mixin hundred {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

@mixin fithty {
    width: 50%;
    margin: 0;
    padding: 0;
    display: block;
}

@mixin resetPadding{
	padding: 0;
	margin: 0;
}